<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>To-Do List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Your To-Do List</h1>
    <form method="post">
        <input name="item_text" id="id_new_item" placeholder="Enter a to-do item"/>
    </form>
    <table class="table" id="id_list_table">
        <tr th:each="item : ${items}">
            <td th:text="${item.title}">Buy milk</td>
        </tr>
    </table>
</div>
<script href="webjars/jquery/3.0.0/jquery.min.js"></script>
<script href="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>